---
import GitHub from "./icons/GitHub.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"


const PROJECTS = [
  {
    title: "PowerDent",
    description:
      "Pagina Web diseñada para promocionar los servicios medicos dentales de la Dra. Virna",
    link: "https://powerdent.netlify.app/",
    image: "/projects/powerdent2.webp"
  },
  {
    title: "TUMI - Alerta medica",
    description:
      "App medica diseñada para solicitar servicio medico a domicilio según los sintomas y la distancia",
    link: "https://adventjs.dev",
    github: "https://github.com/pheralb/svgl",
    image: "/projects/tumi.webp"
  },
  {
    title: "Pokedex",
    description:
      "Pokedex hecha con HTML, CSS y JavaScript. Utilicé Pokeapi, es una API que nos provee de toda la información sobre los Pokemons.",
    link: "https://adventjs.dev",
    image: "/projects/pokedex.webp"
  },
]
---

<div class="flex flex-col gap-y-16 mt-16">
  {
    PROJECTS.map(({ image, title, description, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-white-800 lg:hover:border-white-700 lg:hover:bg-white-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-800">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>
